<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img alt="Brand" src="...">
    </a>
    <button type="button" class="btn btn-danger navbar-btn navbar-right">Sign in</button>
    </div>
  </div>
</nav>