
<% if model_signed_in? %>

	<li><%= link_to "log out", destroy_model_session_path, :method => :delete %></li>

<% else %>

	<%= link_to "log in", new_model_session_path %>

	<%= link_to "sign up", new_model_registration_path %>

<% end %>