<div class="col-md-12 jumbotron">
<div class="page-header" style="text-align:center">
	<h1>In Search Of Rides</h1>
</div>
<div class="row">
	<div class="col-lg-3 col-lg-offset-3">
		<div class="input group">
			<input type="text" class="form-control" placeholder="Search Location">
		</div>
	</div>
	<div class="col-lg-3">
		<div class="input group">
			<div class="input-daterange input-group" id="datepicker">
    			<input type="text" class="input-md form-control" name="start" data-behaviour='datepicker'/>
    			<span class="input-group-addon">to</span>
    			<input type="text" class="input-md form-control" name="end" data-behaviour='datepicker'/>
    			<span class="input-group-btn">
    				<button class="btn btn-danger" type="button">GO</button>
    			</span>
			</div>
    	</div>
    </div>
</div>
