<div class="container-fluid">
	<div class="form-container square">
		<div class="col-md-6 col-md-">
			<h1 class="white form-title">Trip Planner</h1>
		    <div class="well" style="width: 100%">
		        <%= render 'form' %>
		    </div>
			<ul class="list-inline" style="text-align:center">
		    </ul>
		</div>
		</div>
	</div>
</div>