<h1>About</h1>
<div id="about"> 
    <div class="col-md-8 col-md-offset-2">
     <div class="img-responsive">
       <%= image_tag "image_sample8.jpg", height: "250"%>
     </div>
     <br/>
     <br/>
     <p>Grab your board and find a ride. TripMash is a community of like minded people who just want to get out there and do what they love.</p>
     <br/>
     <br/>
  </div>
</div>