<div class="container-fluid">
<div class="col-md-8 col-md-offset-2 square">
<h1 class="white" style="text-align:center; margin-top:60px">About</h1>
     <div class="img-responsive">
       <p style="text-align:center"><%= image_tag "image_sample8.jpg", height: "300"%></p>
     </div>
     <br/>
     <br/>
     <p class="white">Grab your board and find a ride. TripMash is a community of like minded people who just want to get out there and do what they love.</p>
     <br/>
     <br/>
  </div>
</div>