<div class="container-fluid" style="padding:0px; margin:0px">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
          <%= image_tag "image_sample6.jpg" %>
        </div>
        <div class="item">
          <%= image_tag "image_sample5.jpg" %>
        </div>
        <div class="item">
          <%= image_tag "image_sample3.jpg" %>
        </div>
        <div class="hero">
        <hgroup>
            <h1>Catch a Ride</h1>        
            <h3>Share what you love to do</h3>
        </hgroup>
        <%= link_to "Find a Trip", trips_path, :class => "btn btn-hero btn-lg" %>
      </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</div>

