<div class="jumbotron container-fluid" id="jumbocust">
  	<div class="container-fluid">
	  	<h1 style="color:white">JamTunes</h1>
	  	<br/>
	  	<br/>
	  	<br/>
	  	<br/>
	  	<br/>
	  	<br/>
	  	<p style="color:white; text-align:center">Welcome to your eargasmic listening experience</p>
	  	<p style="text-align:center"><%= link_to 'Explore', artists_path, :class => "btn btn-primary btn-lg" %></p>
  	</div>
</div>
