<div class="jumbotron" id="test">
  <h1>JamTunes</h1>
  <p>Welcome to your eargasmic listening experience</p>
  <p><%= link_to 'Explore', artists_path, :class => "btn btn-primary btn-lg" %></p>
</div>
