<div class="col-md-8 col-md-offset-2">

	<h1 style="color:#F1F1F1; text-align:center;">Artists</h1>

	<div class="container-fluid">


		<ul class="row">
			<% @artists.each do |artist| %>
					<li class="col-lg-3 col-md-3 col-sm-3 col-xs-4"> <%= link_to(image_tag(artist.pic_url, size:'200x200'), artist_path(artist)) %> </li>
			<% end %>
		</ul>
	</div>

</div>




