<h1>Retflix</h1>
<p>Welcome to RetFlix! See our collection of movies below</p>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Year Released</th>
  </tr>

<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.title %></td>
		<td><%= movie.description %></td>
		<td><%= movie.year_released %></td>
	</tr>
	<% end %>
</table>


