<nav class="navbar navbar-inverse overlay-navbar navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><ul class="list-inline"><li><%= link_to image_tag("logo2.png", height: "30"), root_path %></li><li class="brand-name">  TripMash</li></span>
    </div>



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= render 'layouts/login' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'About', static_pages_about_path %></li>
            <li><a href="#">Safety</a></li>
          </ul>
        </li>
        <li><%= link_to 'Post a Trip', new_trip_path, :class => "btn btn-trip btn-med", 'data-no-turbolink' => true %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>