  <ul class="row list-unstyled">
  <% @user.followers.where(nil).limit(20).each do |follower| %>
  <li class="col-md-1"><%= link_to (attachment_image_tag(follower, :image, :fill, 50, 50)), user_path(follower) %></li>
  <% end %>
 </ul>

