<% provide(:title, @title) %>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>