  <ul class="row list-unstyled">
  <% @user.following.where(nil).limit(20).each do |following| %>
  <li class="col-md-1"><%= link_to (attachment_image_tag(following, :image, :fill, 50, 50)), user_path(following) %>
  </li>
  <% end %>
  </ul>
