<% @user ||= current_user %>
<div class="stats-follow">
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.trips.count %>
    </strong>
    trips
  </a>
</div>